*, *:before, *:after {
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

.middle {
    width: 78%;
}

#previous, #next {
    width: 10%;
}

.board {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    flex-wrap: wrap;
}

.pokemon-card {
    position: relative;
    border-radius: 40px;
    width: 17.6%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.53);
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.53);
}

.pokemon-card:not(:nth-child(5n)) {
    margin-right: 3%;
}

.picture-container {
    position: absolute;
    top: 20px;
    right: 0;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96px;
    height: 96px;
}

.short-description-container {
    padding: 10px;
}

.mode-choice {
    width: 100%;
}
