/*variables*/
:root {
    --main-bg-color: #F0F7F4;
    --card-border-radius: 30px;
    --card-primary-padding: 30px;
    --primary-text-color: #3C3744;
    --secondary-text-color: #F9FFEB;
    --primary-page-btn-color: #80ADA0;
    --secondary-page-btn-color: #6C96DA;
    --page-btn-content-color: #B5CFC7;
}

/*common*/
html {
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/*page layout*/
.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

.middle {
    width: 78%;
    background-color: var(--main-bg-color);
    padding: 50px;
}

.page-button-container {
    width: 11%;
    background-color: var(--main-bg-color);
}

/*page change buttons*/
#page-button-next, #page-button-previous {
    width: 100%;
    height: 100%;
    border: none;
    background-image: linear-gradient(45deg, var(--secondary-page-btn-color), var(--primary-page-btn-color));
    transition: all .4s ease-in-out;
}

#page-button-next:not(:disabled):hover,
#page-button-previous:not(:disabled):hover {
    background-image: linear-gradient(45deg, var(--primary-page-btn-color), var(--secondary-page-btn-color));
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#page-button-next:disabled,
#page-button-previous:disabled,
#page-button-previous:disabled .left-arrow-svg,
#page-button-next:disabled .right-arrow-svg {
    opacity: 40%;
}

.right-arrow-svg, .left-arrow-svg {
    width: 100px;
    fill: var(--page-btn-content-color);
    transition: all .4s ease-in-out;
}

#page-button-next:not(:disabled):hover .right-arrow-svg,
#page-button-previous:not(:disabled):hover .left-arrow-svg {
    width: 120px;
    transition: all .4s ease-in-out;
}

/*mode choice*/
.mode-choice-container {
    margin-bottom: 50px;
}

.mode-choice-header {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 32px;
}

.mode-choice-radio-btns-container {
    border: none;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 0;
}



/*pokedex board*/
.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 30px;
}

/*pokedex board card*/
.pokemon-card {
    border-radius: var(--card-border-radius);
    -webkit-box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.53);
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.53);
    display: flex;
    flex-direction: column;
    font-weight: 200;
    transition: all .4s ease-in-out;
}

.pokemon-card:hover {
    box-shadow: 14px 14px 18px 0 rgba(0, 0, 0, 0.53);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

/*pokedex board card main blocks*/
.bottom-block {
    flex-grow: 1;
    background-image: linear-gradient(45deg, #6C96DA, #254F93);
    padding: 0 var(--card-primary-padding) var(--card-primary-padding);
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    color: var(--secondary-text-color);
    align-self: stretch;
}

.upper-block {
    position: relative;
    background-image: linear-gradient(135deg, #E1E8F4, #88A3D3);
    padding: 40px;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    color: var(--primary-text-color);
}

/*pokedex board card smaller blocks*/
.picture-container {
    position: absolute;
    bottom: -48px;
    right: 0;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96px;
    height: 96px;
}

.name-container {
    margin: 48px 0;
}

.name {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.short-description-container {
    padding: 10px;
}

.abilities-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.abilities-header {
    font-weight: 400;
}

.ability-name {
    text-transform: capitalize;
    margin-bottom: 5px;
    background-color: #88A3D3;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.ability-name:not(:last-child) {
    margin-right: 5px;
}

.height-container {
    margin-bottom: 10px;
}

.height-header, .weight-header {
    font-weight: 400;
}